terratowns_endpoint="https://terratowns.cloud/api"
arcanum = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/arcanum"
  content_version = 2 
}
pho = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/pho"
  content_version = 1 
}